* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: baskerville-poster-pt, serif;
  font-weight: 200;
  font-style: normal;
}
/***Components and Colors***/
:root {
  --plain-blue: #1856ba;
  --dark-blue: #00183f;
}

/******First Page******/
.home {
  height: 100vh;
  background-image: url("./assets/home_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.logo-container {
  margin: auto;
  display: flex;
  justify-content: center;
}
.logo-container img {
  object-fit: fill;
  width: 90%;
  max-width: 770px;
  margin-top: 30px;
}
.welcome-container {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100vw;
}
h1.welcome-home,
h2.down-caret {
  color: white;
  font-size: clamp(40px, 5vw, 72px);
}
/*Home Underneath Banner*/
.home_banner {
  height: 170px;
  padding: 6px 0;
  font-size: 36px;
  background: #000;
  color: white;
  text-align: center;
}
.home_banner button {
  outline: none;
  border: white solid 1px;
  background: var(--plain-blue);
  color: white;
  font-size: 20px;
  width: 300px;
  padding: 5px 0;
  margin-top: 16px;
}
.home_banner i {
  color: var(--plain-blue);
}
@media (max-width: 500px) {
  /*Mobile*/
  .home_banner {
    font-size: 26px;
    height: 140px;
  }
  .home_banner button {
    font-size: 15px;
    width: 250px;
  }
}

/******Second Page******/
.page-two {
  background: linear-gradient(
      rgba(252, 243, 224, 0.8),
      rgba(252, 241, 224, 0.8)
    ),
    url("./assets/whitemap.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.top-row {
  display: grid;
  margin: auto;
  padding: 40px 0;
  width: 96%;
  max-width: 1400px;
}
.top-row img {
  margin: auto;
}
.top-row p {
  margin-top: 20px;
  font-size: 56px;
  text-align: center;
}
/*Blue Box*/
.mid-row {
  height: 443px;
  position: relative;
  background: url("./assets/dark_frame_sketch.png");
  background-position: center;
}
.mid-row_content-container {
  width: 90vw;
  max-width: 1400px;
  margin: auto;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.mid-row_left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
  max-width: 774px;
}
.mid-row_left-panel p {
  font-size: 36px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
}
.mid-row_left-panel button {
  outline: none;
  border: white solid 2px;
  background: var(--plain-blue);
  color: white;
  font-size: 30px;
  width: 500px;
  padding: 10px 30px;
  margin-top: 40px;
}
.mid-row_right-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.mid-row_right-panel img {
  height: 377px;
  width: 355px;
  border: white solid 5px;
}
.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: #00183f;
  opacity: 0.95;
}
/*Cards*/
.bott-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}
.bott-row_content-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1440px;
}
.card {
  height: 380px;
  width: 350px;
  background: #000;
  border: var(--plain-blue) solid 5px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.card h2 {
  font-size: 36px;
}
.card p {
  margin: 0 15%;
}
/******Tri-Fold******/
.tri-fold {
  display: flex;
  height: 715px;
}
#first-panel,
#second-panel,
#third-panel {
  flex: 1;
}
#first-panel {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), #000),
    url("./assets/happy-couple.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: left;
}
#first-panel q {
  color: white;
  font-size: 30px;
  margin: 40px 10%;
  padding-bottom: 15px;
  border-bottom: white solid 2px;
}
#first-panel a {
  color: white;
  float: left;
  margin: 0 10% 15%;
  font-size: 20px;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
#second-panel {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-rows: 50% 50%;
}
#top-image {
  background: url("./assets/interior_dining.jpg");
}
#bott-image {
  background: url("./assets/interior_bath.jpg");
}
#top-image,
#bott-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#third-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--dark-blue);
  color: white;
  text-align: center;
}
#third-panel q {
  margin: 3%;
  font-size: 36px;
}
#third-panel i {
  color: var(--plain-blue);
}
#third-panel cite {
  font-size: 30px;
}
/******Third Page******/
.page-three {
  background: linear-gradient(
      rgba(252, 243, 224, 0.8),
      rgba(252, 241, 224, 0.8)
    ),
    url("./assets/whitemap.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  width: 100%;
}
.top-banner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 0;
}
.page-three h1 {
  font-size: 68px;
  text-align: center;
}
.page-three h2 {
  font-size: 36px;
  text-align: center;
  margin: auto;
  width: 80%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
}
